@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./NotoSansTC-subset-01.woff2) format('woff2');
  unicode-range: U+4e32, U+4e94, U+4eca, U+4ed4, U+5149, U+516c, U+51b0, U+5305, U+53c9, U+53f8, U+5496, U+55b1, U+591a, U+5976, U+5a46, U+5ea6, U+6524, U+6536, U+665a, U+676f, U+6a5f, U+706b, U+7172, U+71d2, U+7210, U+724c, U+7d72, U+81e8, U+82b1, U+8336, U+83e0, U+863f, U+86cb, U+896a, U+8a18, U+8b1d, U+8c46, U+8d70, U+8fa3, U+9280, U+963f, U+9673, U+96e8, U+96fb, U+98a8, U+98b1, U+98ef, U+9910, U+9b5a, U+9eb5, U+9ebb;
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./NotoSansTC-subset-01.woff2) format('woff2');
  unicode-range: U+4e32, U+4e94, U+4eca, U+4ed4, U+5149, U+516c, U+51b0, U+5305, U+53c9, U+53f8, U+5496, U+55b1, U+591a, U+5976, U+5a46, U+5ea6, U+6524, U+6536, U+665a, U+676f, U+6a5f, U+706b, U+7172, U+71d2, U+7210, U+724c, U+7d72, U+81e8, U+82b1, U+8336, U+83e0, U+863f, U+86cb, U+896a, U+8a18, U+8b1d, U+8c46, U+8d70, U+8fa3, U+9280, U+963f, U+9673, U+96e8, U+96fb, U+98a8, U+98b1, U+98ef, U+9910, U+9b5a, U+9eb5, U+9ebb;
}
